/* Estils per la plana principal */
@import 'estils_jumbotron.css';
@import 'estils_header.css';

.card{
    display: inline-grid;
    text-align: -webkit-center;
    width: 300px;
    margin: 0;
    margin-right: .6rem;
}

.card-img-top{
    width: 200px;
    padding: 10px; 
}